<li class="nav-item dropdown">
  <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     Postagens
   </a>
  <div class="dropdown-menu">
    <a href="{{ '/diário' | prepend:site.baseurl }}">⠀✪ Diário</a><br>
    <a href="{{ '/análise' | prepend:site.baseurl }}">⠀✪ Análise</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     Recomendações
   </a>
  <div class="dropdown-menu">
    <a href="{{ '/animes' | prepend:site.baseurl }}">⠀✪ Animes</a><br>
    <a href="{{ '/músicas' | prepend:site.baseurl }}">⠀✪ Músicas</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     Projetos
   </a>
  <div class="dropdown-menu">
    <a href="{{ '/Explosion' | prepend:site.baseurl }}">⠀✪ Explosion!!!</a><br>
    <a href="{{ '/AminoTex++' | prepend:site.baseurl }}">⠀✪ AminoText++</a>
  </div>
</li>
<li>
  <a href="{{ '/links' | prepend:site.baseurl }}">
    Links úteis
  </a>
</li>
