<ul>
<!--
  <div class="menu-item menu-dropdown">
    <button onclick="abrir_nav('moonshine')" class="botao-menu">
      <a>Moonshine<br> <h6>Grimório pessoal</h6></a>
    </button>
    <div id="moonshine" class="itens-dropdown">
      <a href="{{ '/diário' | prepend:site.baseurl }}">✪ Diário</a>
      <a href="{{ '/poesias' | prepend:site.baseurl }}">✪ Poesias</a>
    </div>
  </div> -->

  <li class="botao-menu menu-item">
    <a>Moonshine<br> <h6>Grimório pessoal</h6></a>
    <ul id="moonshine" class="itens-dropdown">
      <li><a href="{{ '/diário' | prepend:site.baseurl }}">✪ Diário</a></li>
      <li><a href="{{ '/poesias' | prepend:site.baseurl }}">✪ Poesias</a></li>
    </ul>
  </li>

  <li class="botao-menu menu-item">
    <a>Moonglade<br> <h6>Grimório com listas</h6></a>
    <ul id="moonglade" class="itens-dropdown">
      <li><a href="{{ '/animes' | prepend:site.baseurl }}">✪ Animes</a></li>
      <li><a href="{{ '/músicas' | prepend:site.baseurl }}">✪ Músicas</a></li>
      <li><a href="{{ '/links' | prepend:site.baseurl }}">✪ Links úteis</a></li>
    </ul>
  </li>

  <li class="botao-menu menu-item">
      <a>Moondust<br> <h6>Grimório mágico</h6></a>
    <ul id="moondust" class="itens-dropdown">
      <li><a href="{{ '/riichi' | prepend:site.baseurl }}">✪ Riichi!</a></li>
      <!-- <li><a href="{{ '/Explosion' | prepend:site.baseurl }}">⠀✪ Explosion!!!</a></li> -->
      <!-- <li><a href="{{ '/AminoTex++' | prepend:site.baseurl }}">⠀✪ AminoText++</a></li> -->
    </ul>
  </li>
</ul>
<ul>
  <li class="menu-item"><a href="{{ "/pesquisar" | prepend:site.baseurl }}">Pesquisar</a></li>
  <li class="menu-item"><a href="{{ "/histórico" | prepend:site.baseurl }}">Biblioteca</a></li>
  <li class="menu-item border-bottom"><a href="{{ "/about" | prepend:site.baseurl }}">Sobre</a></li>
</ul>
