---
principal: "#800080"
destaque: "#ffbbff"
escuro: "#590059"
claro: "#bb00bb"
cinza: "gray"
preto: "black"
---

/* Global */

*{
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* font-family: 'Inconsolata', monospace;
font-family: 'Sacramento', cursive; */

a{
  text-decoration: none;
}

/* Header */

.header {
  position: sticky;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: double {{ page.destaque }};

  color: {{ page.destaque }};
  background-color: {{ page.principal }};
}

.header a{
  color: {{ page.destaque }};
}


/* Header esquerdo */

.header label{
  margin: auto 0;
}

label[for="botao-menu"]{
  padding: 5px;
  font-family: arial;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: none;
}

#botao-menu{
  display: none;
}

.nav-esquerdo{
  display: flex;
  padding: 1rem;
  height: 3rem;
  font-size: 1.6rem;
  text-align: left;
}

.nav-esquerdo img{
  max-width: 3.5rem;
  float: left;
}

/* Header nav */

.menu a{
  color: {{ page.destaque }};
  background: {{ page.principal }};
}

.menu{
  height: auto;
  display: flex;
  transition: all .5s;
}

.menu ul{
  list-style: none;
  margin: auto 0;
}

.menu-item{
  text-align: center;
  text-decoration: none;
  width: 7rem;
  float: right;
  transition: all .5s;
}

.menu-item a{
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  transition: all .5s;
}


.itens-dropdown{
  padding-top: 1rem;
  position: absolute;
  display: none;
  transition: all .5s;
  min-width: 7rem;
}

.itens-dropdown a{
  text-decoration: none;
  display: block;
}

.show {display:block;}

.media-social{
  margin: auto 0;
  display: flex;
  list-style: none;
}

.media-social img{
  border-radius: 2rem;
  padding: 0.5rem;
  width: 3rem;
}

.media-social img:hover{
  background-color: {{ page.destaque }};
  transition: all .5s;
}

.menu a:hover{
  background: {{ page.escuro }};
}

.menu-item-dropdown a{
  background: {{ page.claro }};
}

/* Corpo */


.content a{
  color: {{ page.principal }};
}

.post-title-home a{
  color: {{ page.preto }};
}

.text-muted{
  color: {{ page.cinza }};
}


.content{
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-family: arial;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
}

img{
  max-width: 100%;
  display: block;
}

.intro_homepage{
  margin: 20px;
}

.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post{
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 1rem;
  margin: 1rem;
  border-style: groove;
}

.post-title-home{
  text-align: left;
}

.post h5{
  text-align: left;
}

.post-excerpt-home{
  text-align: justify;
}

.post-page{
  width: 60%;
  margin: auto;
}

.post-footer{
  border-radius: 80px;
  margin: 1rem;
  padding: 1rem;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
}

.post-footer div{
  margin: auto;
  text-align: left;
  max-width: 60%
}

.post-footer img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 150px;
  background: white;
}
.author-name{
  margin-bottom: 0.5rem;
}

hr{
  width: 80%;
  margin: 2rem 0px 2rem 10%;
}

.home-read-more {
  width: 80%;
}

.home-read-more a{
  border-radius: 10px;
  padding-top: 1rem;
  margin: 0rem 0px 2rem 20%;
  height: 2rem;
  background: #800080;
  display: flow-root;
  font-size: 1.2rem;
  color: #ffbbff;
}

footer{
  text-align: center;
  margin: 1rem;
  font-size: 0.8rem;
}


/* Mobile */

@media(max-width: 935px){
  .header{
    justify-content: center;
    transition: all .5s;
 }

 .nav-esquerdo{
   margin-left: 80px;
   font-size: 1.2rem;
 }

  .menu-item{
    width: 100vw;
    float: none;
    transition: all .5s;
  }

  .border-bottom{
    border-bottom: double #ff00ff;
  }


  .itens-dropdown{
    padding-top: 0px;
    border-top: double #ff00ff;
    border-bottom: double #ff00ff;
    width: 100vw;
    position: relative;
    transition: all .5s;
  }

  .menu{
    border-top: double #ff00ff;
    display: block;
    transition: all .5s;
  }

  label[for="botao-menu"]{
    display: block;
  }

  #botao-menu:checked ~ .menu{
    display: block;
    transition: all .5s;
  }

  .menu{
    padding-top: 3px;
    display: none;
    transition: all .5s;
  }

  .post{
    width: 70%;
  }
}
