.header {
  color: #ffbbff;
  background-color: #800080;
}

.header a{
  color: #ffbbff;
}

.menu a{
  color: #ffbbff;
  background: #800080
}

.menu a:hover{
  background: #590059;
}

.menu-item-dropdown a{
  background: #bb00bb
}

.content a{
  color: rgb(171, 28, 194)
}

.post-title-home a{
  color: black;
}

.text-muted{
  color: gray
}

@media(max-width: 800px){
  .menu-item:hover ul{
    background: #590059;
  }

}
