<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include header.html %}
  </head>
  <body>
    <header class="header">
      <input type="checkbox" id="botao-menu"><label for="botao-menu">&#9776;</label>
      <div class="nav-esquerdo">
        <img src="{{ "/images/favicon/favicon.png" | prepend:site.baseurl }}" alt="Icone da página">
        <a href="{{ "/" | prepend:site.baseurl }}">
          {{ site.title }}<br>
          <h6>{{ site.description }}</h6>
        </a>
      </div>
      <nav class="menu">
        {% include nav.html %}
      </nav>

    </header>
    <div class="content">
      {{ content }}
    </div>
    <footer>
        {% include footer.html %}
    </footer>
    {% include scripts.html %}
  </body>
</html>
